*{
	padding: 0;
	margin: 0;
}

#box {
	width: 800px;
	margin: 0 auto;
}

#logo1 {
	height: 100px;
	background-color: red;
}

#nav {
	height: 24px;
	background-color: yellow;
}

#main {
	height: 700px;
}

#leftMain {
	width: 200px;
	background-color: blue;
	float: left;
	height: 700px;
}

#rightMain {
	width: 600px;
	background-color: deeppink;
	float: right;
	height: 700px;
}

#footer {
	height: 30px;
	background-color: orange;
} 


#navBox {
	float: right;
}


#nav ul li {
	/* 去掉点 */
	list-style-type: none;
	/* 显示为一行 */
	display: inline-block;
	
	width: 80px;
	text-align: center;
	line-height: 24px;
} 


li {
	/* 所有的点都没了 */
	list-style: none;
}

li a {
	color: red;
	/* 去线 */
	text-decoration: none;
}

#menu {
	width: 100px;
	/* 左侧和上侧各加50 */
	margin: 50px;
}

/* 所有的li */
#menu li {
	/* 字体大小  字体 默认是16*/
	font-size: 14px;	
}


#menu>li {
	background: url(../img/1.png);
	line-height: 24px;
	/* 链接向右60px */
	text-indent: 50px;
}

#menu ul {
	/* 默认不显示 */
	display: none;
}


#menu ul li {
	text-indent: 30px;
}

/* 鼠标进去 */
#menu>li:hover ul {
	display: block;
	
}
