/* 这两句会使所有标签左对齐 */
* {
	padding: 0;
	margin: 0;
}


li {
	/* 所有的点都没了 */
	list-style: none;
}

li a {
	color: red;
	/* 去线 */
	text-decoration: none;
}

#menu {
	width: 100px;
	/* 左侧和上侧各加50 */
	margin: 50px;
}

/* 所有的li */
#menu li {
	/* 字体大小  字体 默认是16*/
	font-size: 14px;	
}


#menu>li {
	background: url(../img/1.png);
	line-height: 24px;
	/* 链接向右60px */
	text-indent: 50px;
}

#menu ul {
	/* 默认不显示 */
	display: none;
}


#menu ul li {
	text-indent: 30px;
}

/* 鼠标进去 */
#menu>li:hover ul {
	display: block;
	
}


