* {
	margin: 0;
	padding: 0;
}


#box {
	width: 700px;
	height: 3000px;
	background: navajowhite;
	margin: 0 auto;
}

#header {
	/* 宽用父元素的 */
	height: 90px;
	background: #FF8888;
}

#Main {
	height: 300px;
	background-color: blue;
}


#LeftMain {
	display: inline-block;
	background-color: yellow;
	height: 300px;
	width: 350px;
}

#RightMain {
	display: inline-block;
	background-color: black;
	height: 300px;
	width: 350px;
	float: right;
}


#footer {
	background-color: red;
	height: 80px;
}